/*Page d'accueil*/


/***************Images**********************/
.logo {
    width: 150px;
}

.imgaccueil {
    width: 55%;
}

/***************Textes**********************/


h1, h3 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.2em;
}

h3 {
    font-size: 20px;
    line-height: 35px;
}

.blockquote {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

.buttonaccueil button {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 16px;

}

/****Page de connexion*******/

h2 {
    font-family: "Fredoka One", sans-serif;
    letter-spacing: 0.1em;
    color: #1D3557;
}

em {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.2em;
}

.form-group input {
    border: #E63946 2px solid;

}

.formconnexion {
    border: #E63946 2px solid;
}

form .btn {
    background-color: #1D3557;
    font-family: Poppins, sans-serif;
    font-weight: 600;

}

/********************Page TABLEAU DE BORD*********************/

table {
    border-collapse: separate;

}
td {
color: #1D3557;
    padding: 5px;
}
.unevaleurr{
    border-spacing: 5px;
}
.unevaleur {
    border-spacing: 10px;
}
th{
    color: #E63946;
    font-family: "Fredoka One",sans-serif;
    font-weight: 400;
    margin-left: 10px;
}
.profil{
    box-shadow: 8px 8px 12px #FBE1E3;
}
.complexes{
    background-color: #E63946;
}
.fondelements{
    background-color: white;
}
.complexes .btn {
    background-color: #1D3557;
    font-family: Poppins, sans-serif;
    font-weight: 600;

}
.profil .btn{
    background-color: #1D3557;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;

}
.profil p{
    font-family: Poppins,sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.profil{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h4{
    font-family: "Fredoka One", sans-serif;
    font-size: 20px;
    color: #1D3557;
    margin-top: 5px;
}
ul li{
    display: inline-block;
}

.promo{
    border: 10px solid #E63946;
    margin-top: 20px;
    padding: 15px;
}
.profilspromos img{
    width: 50px;
    border: 1px solid black;
}
.promo a{
    justify-content: left;
}
@media (max-width: 768px) {

    .img {
        display: none;
    }

    h1 {
        font-size: 20px;
        text-align: center;
    }

    .choix h3 {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
    }

    .blockquote {
        display: none;
    }

    h2 {
        font-size: 20px;
    }


}
